body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $mBlue;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $textMain;
}

a:hover {
  text-decoration: none;
  color: $textStandOut;
}

h1 {
  color: $textStandOut;
}

h2,
h3,
h4,
h5,
h6,
p {
  color: $textMain;
}