<footer>
  <div class="container">
    <div class="f-content">
      <div class="f-links">
        <p>
          <%= link_to 'PRIVACY POLICY', '#' %> &nbsp;/&nbsp;
          <%= link_to 'CREDIT DISCLAIMER', 'https://developer.marvel.com/' %> &nbsp;/&nbsp;
          <%= link_to 'GITHUB', 'https://github.com/francescamilk' %>
        </p>
      </div>
      <div class="f-credits">
        <%= image_tag('ironman-ico.png', id: 'f-icon') %>
        <p>&nbsp; FRANCESCAMILK 2021</p>
      </div>
    </div>
  </div>
</footer>
