footer {
  height: 10vh;
  max-height: 10vh;
}

.f-content {
  display: flex;
  justify-content: space-between;
}

.f-links,
.f-credits {
  @include flex-centerer;
  
  p,
  a {
    color: $mWhite;
    font-weight: 200;
  }
  
  a:hover {
    color: $mYellow;
  }
}

#f-icon {
  width: 20px;
  height: 20px;
}