footer {
  padding: 10px 0;
  height: 10vh;
  max-height: 10vh;
}

.f-content {
  display: flex;
  justify-content: space-between;
}

.f-links,
.f-credits {
  display: flex;
  align-items: center;
  
  p,
  a {
    color: $mWhite;
    font-weight: 300;
  }
  
  a:hover {
    color: $mRed;
  }
}

#f-icon {
  width: 20px;
  height: 20px;
}